<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- This Manifest will only apply changes to androidTest builds -->

    <queries>
        <package android:name="androidx.test.orchestrator.OrchestratorService"/>
    </queries>

    <application android:forceQueryable="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permissions.ACCESS_NETWORK_STATE" />

</manifest>